[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"backports.pbkdf2" = "==0.1"
certifi = "==2020.11.8"
cffi = "==1.14.3"
chardet = "==3.0.4"
idna = "==2.10"
pycparser = "==2.20"
requests = "==2.25.0"
six = "==1.15.0"
urllib3 = "==1.26.2"
tenacity = "*"
PyNaCl = "==1.4.0"
aiohttp = "*"
py-skydb = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
